<!DOCTYPE html>
<html>
  <head>
    <title>Project Tracker</title>
    <style>
      .habit-box {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

function goToBugsPage(event, id) {
  event.preventDefault();
  console.log("ID received ->", id);

  axios
    .get(`/projects/bugspage/${id}`)
    .then(response => {
      // Handle the response from the server
      console.log("Response:", response.data);

      // Redirect the user to the bugspage with the provided ID
      window.location.href = `/projects/bugspage/${id}`;
    })
    .catch(error => {
      // Handle any errors that occur during the request
      console.error("Error:", error);
    });
}

      function addHabit(e) {

        e.preventDefault();
        // console.log(e);
        let name = document.getElementById("name").value;
        let description = document.getElementById("description").value;
        let author = document.getElementById("author").value;


        const projectData = {
          name,
          description,
          author
        };
        console.log(projectData,"projectData");
        axios
          .post("/projects/add", projectData)
          .then((response) => {
            
            console.log(response);
           
        })
          .catch((error) => {
            // Handle any errors that occur during the request
            console.error(error,"here");
          });
          window.location.reload();

      }
    
    </script>
  </head>
  <body>
    <h1>Project Tracker</h1>

    <h2>Add a New Project</h2>
    <div class="habit-box">
      <form action="/habits" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required />

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required />

        <input value="Add Project" onclick="addHabit(event)" />
      </form>
    </div>

    <h2>Current Projects</h2>
    <% if (habits.length === 0) { %>
    <p>No habits added yet.</p>
    <% } else { %> <% habits.forEach(function(habit) { %>
    <div class="habit-box">
      <h3>Name:-<%= habit.name %></h3>
      <p>Description:<%= habit.description %></p>
      <p>Author: <%= habit.author %></p>
      <!-- <select id="habitSelector">
        <option value="Done">Done</option>
        <option value="Not done"> Not done</option>

      </select> -->
      <!-- <button onclick="updateStatus(event, `<%= habit._id  %>`   , document.getElementById('habitSelector'))">View details</button> -->
      <button onclick="goToBugsPage(event,`<%= habit._id  %>` )">View bugs</button>
    </div>
    <% }); %> <% } %>
  </body>
</html>
